/* This part is a copy of /static/css/admin/workday/add.css */
/* DATEPICKER */
.datepicker-date-display{
    background-color: #151515;
}

.datepicker-container{
    background: #2f2f2f !important;
    color: white !important;
}

.datepicker-controls *{
    color: white;
}
